/* ============================================= */
/*              Variables                        */
/* ============================================= */

// Color variables

$font-color-default: #777;
$white: #fff;
$primary-color: #58e1c1;
$secondary-color:#51ddfc;
$border-color: #ccc;

// Media Query breakpoints

$breakpoint: 768px;
